extends ../_template

block variables
    -var title = 'Обо мне'

block content
    .wrapper.wrapper_mod
        + preloader
        section.gsection#parallax-Scroll
            .bg.js-parallax-bg
                img(src='assets/img/bg.jpg').bg__img
            .soclinks__mod
                ul.soclinks__list
                    each item in [{name:'vk', link:'https://vk.com/id391548754'}, {name:'github-alt', link:'https://github.com/michaelsmith1'}, {name:'linkedin', link:'#'}]
                        li.soclinks__list__item
                            a(href=`${item.link}` target='_blank').soclinks__list__item__link.soclinks__list__item__link_colbel
                                i(class=`fa fa-${item.name} fa-2x` aria-hidden='true')
            + menu
            .usercart.usercart_parallax
                .usercart__fon.js-parallax-title
                    img(src='assets/img/portfolio_header.png').usercart__fon__img
                .usercart-info.usercart-info__mod.js-parallax-user
                    img(src="/assets/img/me.jpg").usercart__photo
                    .usercart-info__name
                        | Михаил Журкин
                    .usercart-info__description
                        | Личный сайт веб разработчика
            .arrow.down_arrow
                a.arrow__a(href="#")
                    i(class='fa fa-chevron-down fa-2x down-arrow__icon' aria-hidden='true')

        .about.clearfix
            .about__left
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle triangle_left")
                    polygon(points="0,0 0,100 1000,100")
            .about__right
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle triangle_col-ser triangle_col-ser_main")
                    polygon(points="0,100 1000,100 1000,0")
        section.about__user
            .about__user__info
                .title.about__user__info__title
                    h2.about__user__info__header__text Обо мне
                .about__user__info__right
                    .about__user__info__picture
                        img(src="/assets/img/I.jpg").about__user__info__picture
                    .about__user__info__title
                        .title.about__user__info__title_sub
                            | Кто я
                    .about__user__info__text
                        p.about__user__info__text__content Я веб разработчик из Воронежа. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                        p.about__user__info__text__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я обновлю в нём весь контент.

            .about__user__data
                .about__user__data__description
                    .title.about__user__data__description__title
                        h2 Чем я могу быть
                        | вам полезен
                    .about__user__data__description__text
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачина Backend. Но давайте по порядку.
                .about__user__data__content
                  ul.skills#skills
                      each skill in skills
                          each skillsArray, skillName in skill
                              li.skills__item= skillName
                                  ul.skill
                                      each skillTitle in skillsArray
                                          li.skill__item
                                              svg.circles(viewbox='0 0 110 110')
                                                  circle.circle__first(r='45', cx='50%', cy='50%', fill='none')
                                                  circle.circle__second.circle-15(r='45', cx='50%', cy='50%', transform='rotate(-90 55 55)')
                                              .skill__item__name= skillTitle

        section.map__contacts
            .map#map
            .contacts
                .title.title_mod
                    h2 Контакты
                ul.contacts__info
                    li.contacts__info__item.contacts__skype
                        a(href='skype:mikhail11117' target='_blank').contacts__info__item__link mikhail11117
                    li.contacts__info__item.contacts__mail
                        a(href='mailto:89611865061@ya.ru' target='_blank').contacts__info__item__link 89611865061@ya.ru
                    li.contacts__info__item.contacts__phone
                        a(href='tel:89611865061' target='_blank').contacts__info__item__link 89611865061
                    li.contacts__info__item.contacts__adress
                        a(href='https://yandex.ru/maps/-/C6e5vXOV' target='_blank').contacts__info__item__link г.Воронеж ул. 45 стрелковой девизии 62а

        + footer