extends ../_template

block variables
    -var title = 'Блог'

block content
    .wrapper.wrapper_mod
        + preloader
        section.gsection#parallax-Scroll
            .bg.js-parallax-bg
                img(src='assets/img/bg.jpg').bg__img
            .soclinks__mod
                ul.soclinks__list
                    each item in [{name:'vk', link:'https://vk.com/id391548754'}, {name:'github-alt', link:'https://github.com/michaelsmith1'}, {name:'linkedin', link:'#'}]
                        li.soclinks__list__item
                            a(href=`${item.link}`).soclinks__list__item__link.soclinks__list__item__link_colbel
                                i(class=`fa fa-${item.name} fa-2x` aria-hidden='true')
            + menu
            .usercart.usercart_blog.usercart_phone.usercart_parallax
                .usercart__fon.js-parallax-title
                    img(src='assets/img/portfolio_header.png').usercart__fon__img
                .usercart-info.usercart-info_mod.usercart-info_blog.js-parallax-user
                    img(src="/assets/img/me.jpg").usercart__photo.usercart__photo_blog
                    .usercart-info__wrap
                        .usercart-title.title
                            h1.usercart-title-text Блог
                        .usercart-info__description.usercart-info__description_norm
                            | Статьи, которые я написал
            .arrow.down_arrow
                a.arrow__a(href="#")
                    i(class='fa fa-chevron-down fa-2x down-arrow__icon' aria-hidden='true')
        .about
            .about__left
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle")
                    polygon(points="0,0 0,100 1000,100")
            .about__right
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle")
                    polygon(points="0,100 1000,100 1000,0")

        section.blog.clearfix
            .container.clearfix
                .blog__menu
                    ul.blog__menu__list
                        li.blog__menu__list__link.link_active
                            | Самое важное в SASS
                        li.blog__menu__list__link
                            | Приёмы в вёрстке, без которых не обходится ни один сайт
                        li.blog__menu__list__link
                            | Самый необходимый набор Gulp плагинов
                        li.blog__menu__list__link
                            | Почему я выбрал Jade
                .blog__contain
                    ul.blog__contain__list
                        li.blog__contain__list__link
                            .blog__title
                                | Самое важное в SASS
                            .blog__data
                                | 22 ноября 2016
                            .blog__text
                                p.blog__text__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p.blog__text__content Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                        li.blog__contain__list__link
                            .blog__title
                                | Приёмы в вёрстке, без которых не обходится ни один сайт
                            .blog__data
                                | 13 ноября 2016
                            .blog__text
                                p.blog__text__content Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                                p.blog__text__content Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        .empty
        + footer