extends ../_template

block variables
    -var title = 'Мои работы'

block content
    .wrapper.wrapper_mod
        section.gsection.wrapper-welcome
            .soclinks__mod
                ul.soclinks__list
                    each item in [{name:'vk', link:'https://vk.com/id391548754'}, {name:'github-alt', link:'https://github.com/michaelsmith1'}, {name:'linkedin', link:'#'}]
                        li.soclinks__list__item
                            a(href=`${item.link}` target='_blank').soclinks__list__item__link.soclinks__list__item__link_colbel
                                i(class=`fa fa-${item.name} fa-2x` aria-hidden='true')
            .menu__hamburger
                span
            .usercart.usercart_fon
                .usercart-info.usercart-info__mod
                    img(src="/assets/img/me.jpg").usercart__photo
                    .usercart-info__name
                        p Михаил Журкин
                    .usercart-info__description
                        p Личный сайт веб разработчика
            .arrow.down_arrow
                a(href="#")
                    i(class='fa fa-chevron-down fa-2x down-arrow__icon' aria-hidden='true')
        section.about.clearfix
            .about__left
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle")
                    polygon(points="0,0 0,100 1000,100")
            .about__right
                svg(
                viewbox="0 0 1000 100"
                preserveAspectRatio="none"
                class="triangle")
                    polygon(points="0,100 1000,100 1000,0")
        section.works
            .title.works__header
                h1.works__header__text Мои работы
            .works__slider
                .works__slider__info
                    .title.works__slider__info__title Сайт строительной компании
                    .works__slider__info__desc Html, css, Javascript, Wordpress
                    .works__slider__info__but
                        a.works__slider__info__but__link(href='#')
                            | Помотреть сайт
                .works__slider__photoprev
                    .works__slider__photo__wiev
                        img.works__slider__photo__img(src='assets/userfiles/Untitled-1.png')
                    .works__slider__photo__control
                        .works__slider__photo__control__arrow
                            img.works__slider__photo__control__arrow__img(src='assets/userfiles/mockup.png')
                            a.works__slider__photo__control__arrow__arrow.works__slider__photo__control__arrow_prev(href='#' title='prev_slider' alt='prev_slider')
                        .works__slider__photo__control__arrow
                            img.works__slider__photo__control__arrow__img(src='assets/userfiles/Mockup2.png')
                            a.works__slider__photo__control__arrow__arrow.works__slider__photo__control__arrow_next(href='#' title='next_slider' alt='next_slider')


        section.aboutme
            .title.title-about.title-aboutme
                | Что обо мне
                <br> говорят
            .container__feed
                .feedbacks.clearfix
                    .feedbacks__item
                        .feedbacks__item__link.feedbacks__item__icon
                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
                        .feedbacks__item__link.feedbacks__item__text
                            p
                                | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool!
                                | 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .feedbacks__item__link.feedbacks__item__profile
                            img(src='assets/userfiles/Layer 8.png').feedbacks__item__profile__photo
                            .feedbacks__item__profile__info
                                p.p.pb Ковальчук Дмитрий
                                p.p основатель Loftschool
                    .feedbacks__item
                        .feedbacks__item__link.feedbacks__item__icon
                            <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
                        .feedbacks__item__link.feedbacks__item__text
                            p
                                | Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                        .feedbacks__item__link.feedbacks__item__profile
                            img(src='assets/userfiles/9.png').feedbacks__item__profile__photo
                            .feedbacks__item__profile__info
                                p.p.pb Сабанцев Владимир
                                p.p преподаватель
            .contform
                .blur__form
                    .blur
                    .title.contform__title Связаться со мной
                    form.form
                        input(placeholder='Имя' type='name').form__input
                        input(placeholder='Email' type='mail').form__input
                        textarea(placeholder='Ваше сообщение' rows='5').form__input.form__text
                        .form__menu
                            input(type='submit' name='kdddddd').form__menu__input.form__submit
                            input(type='submit').form__menu__input.form__clear
            .arrow.up_arrow
                a.arrow__a(href="#")
                    i(class='fa fa-chevron-up fa-2x down-arrow__icon' aria-hidden='true')


    .empty
    + footer